<?js
    var data = obj;
    var self = this;
    var prefix = self.findPrefix(obj.caller);
?>

<?js if (data.augments && data.augments.length) { ?>
    <ul><?js data.augments.forEach(function(a) { ?>
        <li><?js= self.linkto(a, self.stripPrefix(a, prefix)) ?></li>
    <?js }) ?></ul>
<?js } ?>
