<?js
var data = obj || {};
if (data.description) {
?>
<div class="param-desc">
    <?js= description ?>
</div>
<?js } ?>

<?js if (data.type && data.type.names) {?>
<dl class="param-type">
    <dt>
        Type
    </dt>
    <dd>
        <?js= this.partial('type.tmpl', {names: data.type.names, caller: data.caller}) ?>
    </dd>
</dl>
<?js } ?>
